<div class="flex justify-center items-center min-w-screen min-h-screen">
    <div class="bg-white px-4 py-8 rounded-xl border-gray-200 border-2 shadow hover:shadow-md min-w-400p text-center">
      <div class="relative my-2 mx-4">
        <svg class="h-5 w-5 inline font-bold absolute m-2 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
          <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
        </svg>
        <input class="w-full border-2 focus:border-white p-1 pl-8 rounded-xl" type="text" id="fname" name="firstname" placeholder="Email" />
      </div>
      <div class="relative my-4 mx-4">
        <svg class="h-5 w-5 inline font-bold absolute m-2 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
        </svg>
        <input class="w-full border-2 focus:border-white p-1 pl-8 rounded-xl" type="password" id="fname" name="firstname" placeholder="Password" />
      </div>
    </div>
  </div>